<h1> Edit Profile </h1>

<%= form_for @user, html: { multipart: true } do |f| %>
    <% if @user.errors.any? %>
    <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
</div>
<div class="field">
    <%= f.label :Username %><br />
    <%= f.text_field :email %>
</div>
<div class="City">
    <%= f.label :City %><br />
    <%= f.text_field :town %>
</div>
<div class="field">
    <%= f.label :Address %><br />
    <%= f.text_field :address %>
</div>
<div class="field">
    <%= f.label :Password %><br />
    <%= f.password_field :password %>
</div>
<div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
</div>
<div class="actions"><%= f.submit %></div>

<% end %> 