<h1 align="center">Search Books</h1>
#Written by: Daniel Ching
  #Debugged by: Daniel Ching
  #Tested by: Daniel Ching
<div align = "center">
<br></br>
<%= search_form_for @q do |f| %>
    <div class="field">
        <%= f.label :title_cont, "Title contains" %>
        <br>
        <%= f.text_field :title_cont %>
        <br>
        <%= f.label :author_cont, "Author" %>
        <br>
        <%= f.text_field :author_cont %>
        <br>
        <%= f.label :genre_cont, "Genre" %>
        <br>
        <%= f.text_field :genre_cont %>
        <Br>
        <%= f.submit "Search" %>
<% end %>
<br></br>
<br></br>
<h2 align="center">Listing all books</h2>
<% @books.each do |book| %>
 <div class="row">
  <div class="col-xs-8 col-xs-offset-2">
   <div class="well well-lg">
    <div class="article-title">
    <h4 class="center"> <%= image_tag book.bookpicture.url(:thumb) %> <h4>
    <br>

    <th> <strong> Title </strong>
    <br>
     <%= link_to book.title, book_path(book) %>
    </div>
    <div class="book-body">
    <th> <strong> Description </strong>
    <br>
     <%= truncate(book.description, length: 300) %>
     <br>
     <th> <strong> Author </strong>
     <br>
     <%= truncate(book.author, length: 50) %>
     <br>
     <th> <strong> Genre </strong>
     <br>
     <%= truncate(book.genre, length: 50) %>
    <br>
    </div>
   </div>
  </div>
 </div>
<% end %>
</div>